**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.sh 
*.pth
*.pkl
*.zip
*.bin

.trash
.vscode
data
model_zoo
output
thirdparty
pyrightconfig.json

!*.yaml
!*.sh
version.py